@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7f5af0;
  --dark: #16161a;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark);
  color: white;
}

/* Scrollbar customization */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--dark);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a48d0;
}

/* Smooth transitions */
a,
button {
  transition: all 0.3s ease;
}

/* Selection color */
::selection {
  background-color: var(--primary);
  color: white;
}
